In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from seaborn import load_dataset 
%matplotlib inline
plt.style.use('ggplot') 
data = load_dataset("titanic")

In [2]:
data.head(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False

In [3]:
data.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [4]:
data.drop('class',
  axis='columns', inplace=True)
data.drop('who',
  axis='columns', inplace=True)
data.drop('alive',
  axis='columns', inplace=True)
data.drop('deck',
  axis='columns', inplace=True)
data.drop('embark_town',
  axis='columns', inplace=True)

In [5]:
data.shape

(891, 10)

In [6]:
data.dtypes

survived        int64
pclass          int64
sex            object
age           float64
sibsp           int64
parch           int64
fare          float64
embarked       object
adult_male       bool
alone            bool
dtype: object

In [7]:
data.isnull().sum()

survived        0
pclass          0
sex             0
age           177
sibsp           0
parch           0
fare            0
embarked        2
adult_male      0
alone           0
dtype: int64

In [8]:
def checkNull_fillData(df):
    for col in df.columns:
        if len(df.loc[df[col].isnull() == True]) != 0:
            if df[col].dtype == "object":
                df.loc[df[col].isnull() == True,col] = df[col].mode()[0]
            else:
                df.loc[df[col].isnull() == True,col] = df[col].mean()
                
checkNull_fillData(data)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   survived    891 non-null    int64
 1   pclass      891 non-null    int64
 2   sex         891 non-null    object
 3   age         891 non-null    float64
 4   sibsp       891 non-null    int64
 5   parch       891 non-null    int64
 6   fare        891 non-null    float64
 7   embarked    891 non-null    object
 8   adult_male  891 non-null    bool
 9   alone       891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(2)
memory usage: 57.6+ KB

In [9]:
from sklearn.preprocessing import LabelEncoder

# Creating a instance of label Encoder.
le = LabelEncoder()

data["adult_male"] = le.fit_transform(data['adult_male'])
data["embarked"] = le.fit_transform(data['embarked'])
data['sex'] = le.fit_transform(data['sex'])
data["alone"] = le.fit_transform(data['alone'])

data.head(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,adult_male,alone
0,0,3,1,22.000000,1,0,7.2500,2,1,0
1,1,1,0,38.000000,1,0,71.2833,0,0,0
2,1,3,0,26.000000,0,0,7.9250,2,0,1
3,1,1,0,35.000000,1,0,53.1000,2,0,0
4,0,3,1,35.000000,0,0,8.0500,2,1,1
5,0,3,1,29.699118,0,0,8.4583,1,1,1
6,0,1,1,54.000000,0,0,51.8625,2,1,1
7,0,3,1,2.000000,3,1,21.0750,2,0,0
8,1,3,0,27.000000,0,2,11.1333,2,0,0
9,1,2,0,14.000000,1,0,30.0708,0,0,0

In [10]:
data.isnull().sum()

survived      0
pclass        0
sex           0
age           0
sibsp         0
parch         0
fare          0
embarked      0
adult_male    0
alone         0
dtype: int64

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   survived    891 non-null    int64
 1   pclass      891 non-null    int64
 2   sex         891 non-null    int32
 3   age         891 non-null    float64
 4   sibsp       891 non-null    int64
 5   parch       891 non-null    int64
 6   fare        891 non-null    float64
 7   embarked    891 non-null    int32
 8   adult_male  891 non-null    int64
 9   alone       891 non-null    int64
dtypes: float64(2), int32(2), int64(6)
memory usage: 62.8 KB

In [12]:
X = data.iloc[:,1:]
y=  data["survived"]

In [15]:
X.shape

(891, 9)

In [14]:
y.shape

(891,)

In [45]:
X

,survived,pclass,sex,age,sibsp,parch,fare,embarked,adult_male,alone
1,1,1,0,38.000000,1,0,71.2833,0,0,0
2,1,3,0,26.000000,0,0,7.9250,2,0,1
3,1,1,0,35.000000,1,0,53.1000,2,0,0
4,0,3,1,35.000000,0,0,8.0500,2,1,1
5,0,3,1,29.699118,0,0,8.4583,1,1,1
6,0,1,1,54.000000,0,0,51.8625,2,1,1
7,0,3,1,2.000000,3,1,21.0750,2,0,0
8,1,3,0,27.000000,0,2,11.1333,2,0,0

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 0)

In [17]:
from sklearn.linear_model import LogisticRegression
regressor = LogisticRegression()
regressor.fit(X_train, y_train)

C:\Users\User\anaconda3\envs\py_ml\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [18]:
y_pred = regressor.predict(X_test)

In [20]:
print(y_pred)

[0 0 0 1 1 0 1 1 1 1 0 1 0 1 1 1 0 0 0 1 0 1 0 0 1 1 0 1 1 0 0 1 0 0 0 0 0
 0 0 0 0 0 0 0 1 0 0 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 1 0 0 0
 0 1 0 0 0 0 0 1 1 0 0 1 1 0 1 1]

In [21]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
accuracy_score(y_pred,y_test)

0.8555555555555555

In [43]:
con_matrix = confusion_matrix(y_pred,y_test)
matrix

array([[47,  9],
       [ 4, 30]], dtype=int64)

In [44]:
print(con_matrix)

[[47  9]
 [ 4 30]]

In [32]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.92      0.84      0.88        56
           1       0.77      0.88      0.82        34

    accuracy                           0.86        90
   macro avg       0.85      0.86      0.85        90
weighted avg       0.86      0.86      0.86        90

In [38]:
regressor.score(X_test, y_test)

0.8555555555555555

In [48]:
data_result = pd.DataFrame({
    "Actual":y_train,
    "Predict":regressor.predict(X_train)
})
data_result.head()

     Actual  Predict
815       0        0
877       0        0
193       1        1
523       1        1
634       0        0